<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PiwebSystemsPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="sqlconn" connectionString="Data Source=.;Initial Catalog=pi_posdb;User ID=sa;Password=12345678=s"
      providerName="System.Data.SqlClient" />
    <add name="PiwebSystemsPOS.Properties.Settings.pi_posdbConnectionString"
      connectionString="Data Source=.;Initial Catalog=pi_posdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <PiwebSystemsPOS.Properties.Settings>
      <setting name="receiptPrinterFontFamily" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="receiptWidth" serializeAs="String">
        <value>280</value>
      </setting>
      <setting name="startX" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="startY" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="offset" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="addOffset" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="receiptPrinterName" serializeAs="String">
        <value>80mm Series Printer(1)</value>
      </setting>
      <setting name="kitchenPrinterName" serializeAs="String">
        <value />
      </setting>
      <setting name="serverName" serializeAs="String">
        <value />
      </setting>
      <setting name="authenticationType" serializeAs="String">
        <value>SQL Server Authentication</value>
      </setting>
      <setting name="databaseName" serializeAs="String">
        <value>pi_posdb</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="footerLine1" serializeAs="String">
        <value />
      </setting>
      <setting name="footerLine2" serializeAs="String">
        <value />
      </setting>
    </PiwebSystemsPOS.Properties.Settings>
  </userSettings>
</configuration>